// Import normalize.css 3.0.3
@import "normalize"; 

// Import Bourbon and Neat
@import "bourbon";
@import "grid-settings";
@import "neat";


// Variables!

$montserrat: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-text: #EEEEEE;
$header-text: white;
$link-text: #B4AF91;
$link-hover: #C03000;



body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $body-text;
    background-color: black;
    background-image: url(../images/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    display: table;
}

// Required for Neat grid
div.container {
    @include outer-container;
}

h1 {
    font-family: $montserrat;
    font-weight: bold;
    font-size: em(64);
    color: $header-text;
    text-transform: uppercase;
    text-align: center;
}

a {
    color: $link-text;
    &:hover {
        color: $link-hover;
    }
}


div.greetingMessage {
    
    padding: 5px;
    
    max-width: em(960);
    margin: 0 auto 0 auto;
    
    text-align: center;
    
    h2 {
        font-family: $montserrat;        
        font-size: em(36);
        margin-top: 0;
    }
    
    p {
        font-size: em(18);
    }

}

// I loaded jQuery for this stupid thing

.expander {

  .expander-trigger {
    display: block;
      text-decoration: none;
    
    &:before {
      content: "\25B2";
      margin-right: 0.5em;
    }
  }

  .expander-hidden {
    &:before {
      content: "\25BC";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}

.expander-content {
    font-size: .75em;
    line-height: 2em;
}
